.header {
}
.header__container {
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}
.header__link-logo:active {
  color: $oronge-color;
}
.header__logo__image {
}
